/* regole generali */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}



/* regole header */
header {
    width: 100%;
    height: 80px;
    background-color: rgba(255,105,0,255);
    position: fixed;

}

#flex-container-h {
    width: 60%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list-item {
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    font-weight: bold;
}

#logo {
    text-align: center;
}

#flex-container-h img {
    width: 15%;
}





/* regole main */
main {
    margin-top: 60px;
    min-height: 2000px;
    
}

#flex-container-m {
    width: 60%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* DEBUG */
    background-color: blue;
    
}

.product {
    width: 33%;
    margin-bottom: 20px;
    /* DEBUG */
    background-color: black;
    min-height: 200px;
}

.product-top {
    position: relative;
    /* DEBUG */
    background-color: black;
    width: 100%;
    min-height: 160px;
}

.heart {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 0px;
    /* DEBUG */
    background-color: yellow;
}

.product-bot {
    /* DEBUG */
    background-color: brown;
    min-height: 40px;
    width: 100%;
}

.label-group {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

.label-discount {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: burlywood;
    margin-right: 10px;
}

.label-sust {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: burlywood;
}



/* regole footer */
footer {
    width: 100%;
    margin-top: 60px;
    background-color: rgba(26,26,26,255);
    /* DEBUG */
    min-height: 100px;
}

#flex-container-f {
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#site-info {
    background-color: brown;
}

#site-icons {
    background-color: brown;

}

#icons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}